In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [145]:
df_train = pd.read_csv('CompetenciaECI/Entrenamieto_ECI_2020.csv', index_col = 'Opportunity_ID')
df_val = pd.read_csv('CompetenciaECI/Validacion_ECI_2020.csv', index_col = 'Opportunity_ID')

In [146]:
target = 'Stage'
predictors = [x for x in df_train.columns if x not in [target]]
y = df_train.loc[:,target].copy()
y = (y=='Closed Won') * 1 
df_train = df_train.loc[:, predictors]
df = pd.concat([df_train,df_val], axis=0)
print('Tamaños de entrenamiento')
print(f'Tamanio de X: {X.shape}')
print(f'Tamanio de y: {y.shape}')

Tamaños de entrenamiento
Tamanio de X: (16947, 50)
Tamanio de y: (16947,)

In [116]:
df_train.shape

(16947, 50)

## Valores faltantes

In [19]:
def nan_values(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    print(missing_data.head(6))
nan_values(df_train)
nan_values(df_val)
nan_values(df)

                 Total   Percent
ASP               3209  0.189355
ASP_(converted)   3209  0.189355
Total_Amount        59  0.003481
Prod_Category_A      0  0.000000
Delivery_Terms       0  0.000000
Quote_Type           0  0.000000
                          Total   Percent
ASP                          84  0.032928
ASP_(converted)              84  0.032928
Prod_Category_A               0  0.000000
Opportunity_Created_Date      0  0.000000
Delivery_Terms                0  0.000000
Quote_Type                    0  0.000000
                 Total   Percent
ASP               3293  0.168889
ASP_(converted)   3293  0.168889
Total_Amount        59  0.003026
Prod_Category_A      0  0.000000
Delivery_Terms       0  0.000000
Quote_Type           0  0.000000

## Analisis de variables numericas

## Valores None en variables numericas

In [27]:
numerical_cols = ['Sales_Contract_No', 'ASP', 'ASP_(converted)', 
              'TRF', 'Total_Amount', 'Total_Taxable_Amount', 'ID']

In [28]:
def none_values(df):
    df_num = df[numerical_cols]
    total = df_num.apply(lambda x: x=='None').sum().sort_values(ascending=False)
    percent = (total/df_num.apply(lambda x: x=='None').count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    print(missing_data.head(12))
none_values(df_train)
none_values(df_val)
none_values(df)

                      Total   Percent
Sales_Contract_No      6973  0.411459
ID                        0  0.000000
Total_Taxable_Amount      0  0.000000
Total_Amount              0  0.000000
TRF                       0  0.000000
ASP_(converted)           0  0.000000
ASP                       0  0.000000
                      Total  Percent
Sales_Contract_No      1213   0.4755
ID                        0   0.0000
Total_Taxable_Amount      0   0.0000
Total_Amount              0   0.0000
TRF                       0   0.0000
ASP_(converted)           0   0.0000
ASP                       0   0.0000
                      Total   Percent
Sales_Contract_No      8186  0.419838
ID                        0  0.000000
Total_Taxable_Amount      0  0.000000
Total_Amount              0  0.000000
TRF                       0  0.000000
ASP_(converted)           0  0.000000
ASP                       0  0.000000

/home/martin/anaconda3/envs/tesis_env/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
/home/martin/anaconda3/envs/tesis_env/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
/home/martin/anaconda3/envs/tesis_env/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

## Analisis de variables categoricas

In [147]:
binary_cols = ['Pricing, Delivery_Terms_Quote_Appr', 'Pricing, Delivery_Terms_Approved', 
           'Bureaucratic_Code_0_Approval','Bureaucratic_Code_0_Approved']

categorical_cols = ['Region','Territory','Bureaucratic_Code', 
                'Source ','Billing_Country','Account_Name',
                'Opportunity_Name', 'Account_Owner',
               'Opportunity_Owner','Account_Type', 'Opportunity_Type', 
                'Quote_Type', 'Delivery_Terms', 'Brand', 'Product_Type', 
                'Size','Product_Category_B', 'Currency', 'Last_Modified_By',
                'Product_Family', 'Product_Name', 'ASP_Currency',
                'ASP_(converted)_Currency','Delivery_Quarter',
                'Total_Taxable_Amount_Currency',
                'Prod_Category_A', 'Total_Amount_Currency'
               ]
cols = binary_cols + categorical_cols

In [148]:
for d in [df, df_train, df_val]:
    d[cols] = d[cols].astype('category')

In [151]:
d['Source ']

Opportunity_ID
0             None
1             None
2         Source_7
3        Source_11
4        Source_11
           ...
12364     Source_3
12365         None
12366         None
12367         None
12368         None
Name: Source , Length: 19498, dtype: category
Categories (14, object): [None, Source_0, Source_1, Source_10, ..., Source_5, Source_6, Source_7, Source_9]

### Como cambian las variables categoricas dentro de una misma oportunidad

In [150]:
# Que categorias tienen presentes diferentes valores en una misma oportunidad?
# Product_Family, Product_Name y Delivery_Quarter

d = df.select_dtypes(include=['category'])
group = d.groupby(d.index)
for col in d.columns:
    print(col)
    print(group[col].apply(lambda x: len(set(x))!=1).sum())

Region
0
Territory
0
Pricing, Delivery_Terms_Quote_Appr
0
Pricing, Delivery_Terms_Approved
0
Bureaucratic_Code_0_Approval
0
Bureaucratic_Code_0_Approved
0
Bureaucratic_Code
0
Source
0
Billing_Country
0
Account_Name
0
Opportunity_Name
0
Account_Owner
0
Opportunity_Owner
0
Account_Type
0
Opportunity_Type
0
Quote_Type
0
Delivery_Terms
0
Brand
0
Product_Type
0
Size
0
Product_Category_B
0
Currency
0
Last_Modified_By
0
Product_Family
2639
Product_Name
2811
ASP_Currency
0
ASP_(converted)_Currency
0
Delivery_Quarter
421
Total_Amount_Currency
0
Total_Taxable_Amount_Currency
0
Prod_Category_A
0

## Valores None en columnas categoricas/binarias

In [120]:
#df[numerical_cols] = df[numerical_cols].astype('float64')
def none_values(df):
    df_cat = df[cols]
    total = df_cat.apply(lambda x: x=='None').sum().sort_values(ascending=False)
    percent = (total/df_cat.apply(lambda x: x=='None').count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    print(missing_data.head(12))
none_values(df_train)
none_values(df_val)
none_values(df)

/home/martin/anaconda3/envs/tesis_env/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
/home/martin/anaconda3/envs/tesis_env/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
/home/martin/anaconda3/envs/tesis_env/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

                    Total   Percent
Currency            16052  0.947188
Size                15967  0.942173
Product_Type        15935  0.940284
Product_Category_B  15928  0.939871
Brand               15911  0.938868
Source               9497  0.560394
Territory            4999  0.294978
Account_Type          112  0.006609
Billing_Country        27  0.001593
Bureaucratic_Code       0  0.000000
Account_Owner           0  0.000000
Region                  0  0.000000
                    Total   Percent
Currency             2200  0.862407
Size                 2190  0.858487
Product_Category_B   2190  0.858487
Product_Type         2187  0.857311
Brand                2182  0.855351
Source               1115  0.437083
Territory             181  0.070953
Billing_Country         1  0.000392
Account_Type            1  0.000392
Account_Owner           0  0.000000
Bureaucratic_Code       0  0.000000
Region                  0  0.000000
                    Total   Percent
Currency            18252  0.936096
Size                18157  0.931224
Product_Type        18122  0.929429
Product_Category_B  18118  0.929224
Brand               18093  0.927941
Source              10612  0.544261
Territory            5180  0.265668
Account_Type          113  0.005795
Billing_Country        28  0.001436
Bureaucratic_Code       0  0.000000
Account_Owner           0  0.000000
Region                  0  0.000000

## Relacion entre las categorias y la variable objetivo

In [152]:
d = pd.concat([df_train, y], axis=1)
for col in d.select_dtypes(include='category').columns:
    groups = d.groupby(col)
    print(d.groupby(col).agg({col:'count', 'Stage':'mean'}).sort_values('Stage', ascending=False).head(30))

             Region     Stage
Region
Japan          4892  0.679272
APAC           3262  0.581239
EMEA           4664  0.529803
Americas       3945  0.454499
Middle East     184  0.271739
                 Territory     Stage
Territory
Slovenia                 1  1.000000
UAE (Others)             2  1.000000
China (PRC)            218  0.926606
Estonia                  8  0.875000
Luxembourg              70  0.871429
Austria                145  0.855172
Malta                    6  0.833333
New Zealand             38  0.815789
Singapore              441  0.809524
Japan                  681  0.801762
South Korea             15  0.800000
Cyprus                  44  0.727273
Spain                  268  0.675373
Belgium                285  0.656140
NW America            1568  0.620536
Germany               1682  0.608205
None                  4999  0.606921
Australia             1208  0.576159
Thailand               173  0.531792
Italy                  283  0.526502
Portugal                66  0.515152
South East Asia          2  0.500000
Macedonia                6  0.500000
Cambodia                 4  0.500000
Denmark                 38  0.500000
Netherlands            533  0.482176
India                  809  0.462299
KSA                     13  0.461538
Vietnam                 51  0.450980
Carribean               31  0.419355
                                    Pricing, Delivery_Terms_Quote_Appr  \
Pricing, Delivery_Terms_Quote_Appr
0                                                                 3254
1                                                                13693

                                       Stage
Pricing, Delivery_Terms_Quote_Appr
0                                   0.650891
1                                   0.541518
                                  Pricing, Delivery_Terms_Approved     Stage
Pricing, Delivery_Terms_Approved
1                                                             9890  0.647523
0                                                             7057  0.443390
                              Bureaucratic_Code_0_Approval     Stage
Bureaucratic_Code_0_Approval
0                                                     8889  0.666892
1                                                     8058  0.447381
                              Bureaucratic_Code_0_Approved     Stage
Bureaucratic_Code_0_Approved
0                                                    11543  0.581738
1                                                     5404  0.521466
                     Bureaucratic_Code     Stage
Bureaucratic_Code
Bureaucratic_Code_0                 51  1.000000
Bureaucratic_Code_6                  1  1.000000
Bureaucratic_Code_4              12587  0.655676
Bureaucratic_Code_3                  2  0.500000
Bureaucratic_Code_2                242  0.471074
Bureaucratic_Code_1                261  0.390805
Bureaucratic_Code_5               3803  0.265843
           Source      Stage
Source
Source_13      786  0.746819
Source_11     1421  0.644616
Source_9      1459  0.575051
None          9497  0.573865
Source_3       418  0.502392
Source_7      2965  0.469815
Source_4        43  0.441860
Source_1       137  0.350365
Source_2        86  0.348837
Source_10      106  0.339623
Source_6        19  0.263158
Source_0         7  0.000000
Source_12        2  0.000000
Source_5         1  0.000000
                                        Billing_Country     Stage
Billing_Country
Reunion                                               2  1.000000
Korea, Democratic People's Republic of               13  0.923077
China                                               222  0.914414
Austria                                             145  0.841379
New Zealand                                          39  0.820513
Sri Lanka                                           105  0.752381
Myanmar                                               4  0.750000
Cambodia                                              4  0.750000
Cyprus                                               46  0.739130
Singapore                                           432  0.736111
Malta                                                 7  0.714286
Japan                                              4879  0.681082
Portugal                                             27  0.666667
Luxembourg                                          136  0.654412
South Africa                                         13  0.615385
Spain                                               317  0.605678
Philippines                                         138  0.601449
Australia                                          1169  0.594525
Germany                                            1979  0.566953
Netherlands                                         563  0.559503
Belgium                                             226  0.526549
Italy                                               295  0.515254
Puerto Rico                                          14  0.500000
Sweden                                                8  0.500000
Estonia                                               2  0.500000
Bahrain                                               2  0.500000
United States                                      3802  0.461599
Thailand                                            195  0.461538
Hungary                                              13  0.461538
United Kingdom                                      284  0.447183
                   Account_Name  Stage
Account_Name
Account_Name_0                1    1.0
Account_Name_163              5    1.0
Account_Name_179              2    1.0
Account_Name_1788             1    1.0
Account_Name_1784            20    1.0
Account_Name_1783             1    1.0
Account_Name_178              2    1.0
Account_Name_1774            19    1.0
Account_Name_1770             3    1.0
Account_Name_1754             1    1.0
Account_Name_1753             1    1.0
Account_Name_1742             1    1.0
Account_Name_1741             4    1.0
Account_Name_1740             3    1.0
Account_Name_1725             2    1.0
Account_Name_1719             1    1.0
Account_Name_1718             1    1.0
Account_Name_171              9    1.0
Account_Name_1694             2    1.0
Account_Name_1676             1    1.0
Account_Name_1669             2    1.0
Account_Name_1657             2    1.0
Account_Name_1654             2    1.0
Account_Name_1800             2    1.0
Account_Name_1820             1    1.0
Account_Name_1824             1    1.0
Account_Name_191              8    1.0
Account_Name_1960             1    1.0
Account_Name_196              1    1.0
Account_Name_1951             1    1.0
                       Opportunity_Name  Stage
Opportunity_Name
Opportunity_Name_2113                 1      1
Opportunity_Name_2838                 2      1
Opportunity_Name_7767                10      1
Opportunity_Name_7768                 1      1
Opportunity_Name_7769                 2      1
Opportunity_Name_7770                 2      1
Opportunity_Name_2855                 1      1
Opportunity_Name_2854                 2      1
Opportunity_Name_7771                 1      1
Opportunity_Name_7773                 1      1
Opportunity_Name_7774                 1      1
Opportunity_Name_7775                 7      1
Opportunity_Name_2849                 4      1
Opportunity_Name_2848                 1      1
Opportunity_Name_2847                 1      1
Opportunity_Name_7778                 1      1
Opportunity_Name_7781                 1      1
Opportunity_Name_7782                 1      1
Opportunity_Name_7783                 2      1
Opportunity_Name_7784                 1      1
Opportunity_Name_7785                 1      1
Opportunity_Name_2865                 1      1
Opportunity_Name_2866                 1      1
Opportunity_Name_7766                 2      1
Opportunity_Name_2881                 2      1
Opportunity_Name_2896                 7      1
Opportunity_Name_7751                 1      1
Opportunity_Name_7752                 1      1
Opportunity_Name_2893                 3      1
Opportunity_Name_7754                 1      1
                Account_Owner     Stage
Account_Owner
Person_Name_32            682  0.837243
Person_Name_52            172  0.819767
Person_Name_65            631  0.798732
Person_Name_21            166  0.795181
Person_Name_61             72  0.777778
Person_Name_66            258  0.728682
Person_Name_13           1328  0.670934
Person_Name_42            304  0.661184
Person_Name_64            577  0.658579
Person_Name_50           3730  0.649598
Person_Name_55            138  0.623188
Person_Name_8            1286  0.593313
Person_Name_43           1241  0.585818
Person_Name_2             333  0.549550
Person_Name_18           1093  0.546203
Person_Name_54            178  0.539326
Person_Name_49            201  0.522388
Person_Name_23              4  0.500000
Person_Name_35              2  0.500000
Person_Name_62            179  0.469274
Person_Name_33             86  0.453488
Person_Name_4             664  0.453313
Person_Name_51            108  0.398148
Person_Name_63            138  0.391304
Person_Name_38            326  0.355828
Person_Name_34              3  0.333333
Person_Name_46            381  0.333333
Person_Name_45            357  0.327731
Person_Name_9              50  0.320000
Person_Name_14             74  0.297297
                   Opportunity_Owner     Stage
Opportunity_Owner
Person_Name_30                    69  1.000000
Person_Name_19                   615  0.973984
Person_Name_40                    50  0.880000
Person_Name_52                   173  0.820809
Person_Name_65                   322  0.816770
Person_Name_32                   686  0.782799
Person_Name_20                    49  0.734694
Person_Name_66                   243  0.695473
Person_Name_13                  1254  0.663477
Person_Name_23                   422  0.658768
Person_Name_50                  3781  0.658291
Person_Name_64                   516  0.639535
Person_Name_55                    91  0.593407
Person_Name_8                   1422  0.587201
Person_Name_42                    19  0.578947
Person_Name_18                   982  0.559063
Person_Name_54                   171  0.538012
Person_Name_44                   240  0.537500
Person_Name_2                    118  0.516949
Person_Name_35                     2  0.500000
Person_Name_49                   286  0.496503
Person_Name_62                   174  0.477011
Person_Name_4                    687  0.470160
Person_Name_33                    87  0.448276
Person_Name_41                   113  0.415929
Person_Name_43                   838  0.400955
Person_Name_61                    13  0.384615
Person_Name_48                   256  0.382812
Person_Name_46                   329  0.343465
Person_Name_38                   254  0.342520
                Account_Type     Stage
Account_Type
Account_Type_0          5868  0.706885
Account_Type_2          8832  0.539515
Account_Type_4            10  0.400000
Account_Type_5          1943  0.296963
Account_Type_1           165  0.187879
None                     112  0.062500
Account_Type_6            17  0.058824
                     Opportunity_Type     Stage
Opportunity_Type
Opportunity_Type_17                 8  1.000000
Opportunity_Type_12               279  0.928315
Opportunity_Type_0                  8  0.750000
Opportunity_Type_14                15  0.733333
Opportunity_Type_10                34  0.705882
Opportunity_Type_8               1458  0.702332
Opportunity_Type_7               5763  0.683845
Opportunity_Type_5                 14  0.571429
Opportunity_Type_1               6819  0.530430
Opportunity_Type_3                275  0.512727
Opportunity_Type_4                 51  0.411765
Opportunity_Type_9                 23  0.347826
Opportunity_Type_15                 9  0.333333
Opportunity_Type_11                 3  0.333333
Opportunity_Type_2                 70  0.328571
Opportunity_Type_19              1900  0.210000
Opportunity_Type_20               175  0.205714
Opportunity_Type_23                 5  0.200000
Opportunity_Type_18                11  0.181818
Opportunity_Type_21                 6  0.000000
Opportunity_Type_22                10  0.000000
Opportunity_Type_24                 1  0.000000
Opportunity_Type_16                 4  0.000000
Opportunity_Type_6                  2  0.000000
Opportunity_Type_13                 4  0.000000
             Quote_Type     Stage
Quote_Type
Non Binding       16777  0.563092
Binding             170  0.505882
                  Delivery_Terms     Stage
Delivery_Terms
Delivery_Terms_6             781  0.784891
Delivery_Terms_0               6  0.666667
Delivery_Terms_5             636  0.658805
Delivery_Terms_4            7712  0.582988
Delivery_Terms_7              38  0.552632
Delivery_Terms_2            4633  0.551479
Delivery_Terms_3              41  0.487805
Delivery_Terms_8             164  0.487805
Delivery_Terms_1            2936  0.451294
          Brand     Stage
Brand
None      15911  0.599145
Brand_0       4  0.000000
Brand_1       1  0.000000
Brand_9     140  0.000000
Brand_7      17  0.000000
Brand_6       1  0.000000
Brand_5      48  0.000000
Brand_4       4  0.000000
Brand_3       1  0.000000
Brand_27      5  0.000000
Brand_26      1  0.000000
Brand_25     24  0.000000
Brand_24     38  0.000000
Brand_23     10  0.000000
Brand_22     20  0.000000
Brand_21     17  0.000000
Brand_20     10  0.000000
Brand_2       4  0.000000
Brand_19      1  0.000000
Brand_17      5  0.000000
Brand_16      2  0.000000
Brand_13     17  0.000000
Brand_12      3  0.000000
Brand_11     34  0.000000
Brand_10     22  0.000000
Other       607  0.000000
                Product_Type     Stage
Product_Type
None                   15935  0.598243
Other                    515  0.000000
Product_Type_0            94  0.000000
Product_Type_1           142  0.000000
Product_Type_2             9  0.000000
Product_Type_3           179  0.000000
Product_Type_4            73  0.000000
         Size     Stage
Size
None    15967  0.597044
Other     394  0.000000
Size_0      7  0.000000
Size_1     25  0.000000
Size_2      2  0.000000
Size_3    356  0.000000
Size_4    196  0.000000
                       Product_Category_B     Stage
Product_Category_B
None                                15928  0.598506
Other                                 523  0.000000
Product_Category_B_8                   23  0.000000
Product_Category_B_7                   47  0.000000
Product_Category_B_6                    9  0.000000
Product_Category_B_5                   36  0.000000
Product_Category_B_4                   37  0.000000
Product_Category_B_3                   23  0.000000
Product_Category_B_27                   3  0.000000
Product_Category_B_26                   4  0.000000
Product_Category_B_24                  16  0.000000
Product_Category_B_23                   5  0.000000
Product_Category_B_22                   2  0.000000
Product_Category_B_21                   8  0.000000
Product_Category_B_20                   9  0.000000
Product_Category_B_2                   59  0.000000
Product_Category_B_19                  22  0.000000
Product_Category_B_17                  27  0.000000
Product_Category_B_16                  17  0.000000
Product_Category_B_15                   8  0.000000
Product_Category_B_14                   4  0.000000
Product_Category_B_13                  18  0.000000
Product_Category_B_12                  51  0.000000
Product_Category_B_11                  21  0.000000
Product_Category_B_10                   3  0.000000
Product_Category_B_1                   24  0.000000
Product_Category_B_0                    3  0.000000
Product_Category_B_9                   17  0.000000
          Currency     Stage
Currency
None         16052  0.593882
EUR            475  0.000000
USD            420  0.000000
                  Last_Modified_By     Stage
Last_Modified_By
Person_Name_30                  15  1.000000
Person_Name_22                   5  1.000000
Person_Name_19                 395  0.835443
Person_Name_33                 429  0.787879
Person_Name_66                 115  0.686957
Person_Name_47                8515  0.660482
Person_Name_32                 252  0.658730
Person_Name_52                  51  0.647059
Person_Name_41                 237  0.641350
Person_Name_64                 232  0.620690
Person_Name_65                  74  0.608108
Person_Name_13                 578  0.607266
Person_Name_40                 119  0.596639
Person_Name_55                  71  0.591549
Person_Name_49                 138  0.572464
Person_Name_50                1210  0.507438
Person_Name_2                  146  0.506849
Person_Name_20                  22  0.500000
Person_Name_8                  511  0.487280
Person_Name_18                 438  0.470320
Person_Name_4                  315  0.438095
Person_Name_56                   5  0.400000
Person_Name_62                  93  0.397849
Person_Name_59                  74  0.378378
Person_Name_23                  88  0.375000
Person_Name_51                  94  0.351064
Person_Name_31                  27  0.333333
Person_Name_43                 587  0.327087
Person_Name_38                 114  0.315789
Person_Name_44                  77  0.311688
                    Product_Family  Stage
Product_Family
Product_Family_99               12    1.0
Product_Family_179               2    1.0
Product_Family_48                1    1.0
Product_Family_191              10    1.0
Product_Family_188              16    1.0
Product_Family_50                2    1.0
Product_Family_51                1    1.0
Product_Family_52                1    1.0
Product_Family_182               1    1.0
Product_Family_53                1    1.0
Product_Family_18               10    1.0
Product_Family_178               2    1.0
Product_Family_152               7    1.0
Product_Family_177               1    1.0
Product_Family_176              11    1.0
Product_Family_55                1    1.0
Product_Family_56                9    1.0
Product_Family_59                1    1.0
Product_Family_165               2    1.0
Product_Family_64                3    1.0
Product_Family_66                1    1.0
Product_Family_68               16    1.0
Product_Family_47                2    1.0
Product_Family_46                1    1.0
Product_Family_45                1    1.0
Product_Family_44               15    1.0
Product_Family_241               1    1.0
Product_Family_242               1    1.0
Product_Family_243               2    1.0
Product_Family_244               1    1.0
                  Product_Name  Stage
Product_Name
Product_Name_51              2    1.0
Product_Name_36              4    1.0
Product_Name_501             1    1.0
Product_Name_37              1    1.0
Product_Name_368            10    1.0
Product_Name_506             1    1.0
Product_Name_507             1    1.0
Product_Name_185            10    1.0
Product_Name_184             2    1.0
Product_Name_508             2    1.0
Product_Name_509             1    1.0
Product_Name_18             10    1.0
Product_Name_510             1    1.0
Product_Name_511             1    1.0
Product_Name_366            16    1.0
Product_Name_512             1    1.0
Product_Name_174             8    1.0
Product_Name_513             2    1.0
Product_Name_172             1    1.0
Product_Name_52              1    1.0
Product_Name_53              1    1.0
Product_Name_55              1    1.0
Product_Name_57              1    1.0
Product_Name_58              8    1.0
Product_Name_160             6    1.0
Product_Name_193             4    1.0
Product_Name_50              1    1.0
Product_Name_304             2    1.0
Product_Name_45              1    1.0
Product_Name_41              1    1.0
              ASP_Currency     Stage
ASP_Currency
AUD                    556  0.732014
JPY                   4522  0.688191
EUR                   4503  0.537864
USD                   7361  0.487977

### Cantidad de categorias por variable categorica

In [154]:
df.select_dtypes(include='category').nunique().sort_values(ascending=False)

Opportunity_Name                      11408
Account_Name                           1840
Product_Name                            506
Product_Family                          247
Billing_Country                          83
Territory                                79
Last_Modified_By                         63
Opportunity_Owner                        58
Account_Owner                            48
Product_Category_B                       29
Brand                                    28
Opportunity_Type                         25
Source                                   14
Delivery_Terms                            9
Size                                      7
Product_Type                              7
Bureaucratic_Code                         7
Account_Type                              7
Region                                    5
Total_Taxable_Amount_Currency             5
ASP_Currency                              5
Total_Amount_Currency                     5
Delivery_Quarter                          4
Currency                                  3
Pricing, Delivery_Terms_Approved          2
Pricing, Delivery_Terms_Quote_Appr        2
Quote_Type                                2
Bureaucratic_Code_0_Approval              2
Bureaucratic_Code_0_Approved              2
ASP_(converted)_Currency                  1
Prod_Category_A                           1
dtype: int64

### Relation Region/Territorio
- Cuanto el Territorio es None la region en gral es Japan
- Japon tiene su propio territorio
- Hay 5000 Nones en Territorio, siendo la mayoria de la region Japan
- Decision: se completan los Nones con el nombre de las Region

In [30]:
# territorios por region
df.loc[:,['Territory','Region']].groupby('Region')['Territory'].apply(set)

Region
APAC           {Vietnam, Philippines, Thailand, Malaysia, Sol...
Americas       {SW America, Canada, South America, SE America...
EMEA           {SW America, Georgia, Macedonia, Morocco, Tuni...
Japan                                              {None, Japan}
Middle East    {UAE (Dubai), Lebanon, UAE (Others), None, Pak...
Name: Territory, dtype: object

In [31]:
# a que region corresponden los valores nulos de los territorios?
df.loc[df['Territory']=='None',['Territory','Region']].groupby('Region')['Region'].count()

Region
Americas        615
EMEA            208
Japan          4327
Middle East      30
Name: Region, dtype: int64

In [32]:
# cuando la region es japon, hay muchos nones 
df.loc[df['Region']=='Japan',['Territory','Region']].groupby('Territory')['Territory'].count().sort_values(ascending=False)

Territory
None     4327
Japan     766
Name: Territory, dtype: int64

## Cantidad de registros por tipo en cada categoria y cantidad de categorias

In [156]:
def print_categorical_values(cat):
    groups = df.groupby([cat])[cat]
    print(groups.size().sort_values(ascending=False))
    print(len(groups))
    print()

In [157]:
for cat in categorical_cols:
    print_categorical_values(cat)

Region
EMEA           5502
Japan          5093
Americas       4961
APAC           3744
Middle East     198
Name: Region, dtype: int64
5

Territory
None               5180
NW America         1995
Germany            1955
Australia          1416
NE America          939
                   ...
Georgia               1
Solomon Islands       1
Slovenia              1
Andorra               1
Monaco                1
Name: Territory, Length: 79, dtype: int64
79

Bureaucratic_Code
Bureaucratic_Code_4    14587
Bureaucratic_Code_5     4174
Bureaucratic_Code_2      351
Bureaucratic_Code_1      303
Bureaucratic_Code_0       80
Bureaucratic_Code_3        2
Bureaucratic_Code_6        1
Name: Bureaucratic_Code, dtype: int64
7

Source
None         10612
Source_7      3666
Source_9      1771
Source_11     1625
Source_13      911
Source_3       458
Source_1       148
Source_10      127
Source_2        99
Source_4        45
Source_6        25
Source_0         7
Source_5         2
Source_12        2
Name: Source , dtype: int64
14

Billing_Country
Japan                 5080
United States         4800
Germany               2272
Australia             1359
India                  752
                      ...
Dominican Republic       1
Ecuador                  1
Kenya                    1
Morocco                  1
Malaysia                 1
Name: Billing_Country, Length: 83, dtype: int64
83

Account_Name
Account_Name_1888    2127
Account_Name_1836     886
Account_Name_25       873
Account_Name_1991     609
Account_Name_1642     397
                     ...
Account_Name_1571       1
Account_Name_1570       1
Account_Name_417        1
Account_Name_418        1
Account_Name_0          1
Name: Account_Name, Length: 1840, dtype: int64
1840

Opportunity_Name
Opportunity_Name_9795     36
Opportunity_Name_5036     36
Opportunity_Name_11461    26
Opportunity_Name_12179    26
Opportunity_Name_2922     26
                          ..
Opportunity_Name_4102      1
Opportunity_Name_4103      1
Opportunity_Name_4104      1
Opportunity_Name_8170      1
Opportunity_Name_4205      1
Name: Opportunity_Name, Length: 11408, dtype: int64
11408

Account_Owner
Person_Name_50    3795
Person_Name_8     1532
Person_Name_13    1497
Person_Name_43    1451
Person_Name_18    1289
Person_Name_3      966
Person_Name_64     839
Person_Name_4      747
Person_Name_32     729
Person_Name_65     719
Person_Name_16     514
Person_Name_46     499
Person_Name_45     431
Person_Name_2      419
Person_Name_38     405
Person_Name_42     374
Person_Name_66     276
Person_Name_62     259
Person_Name_60     250
Person_Name_59     237
Person_Name_49     222
Person_Name_54     211
Person_Name_55     202
Person_Name_21     200
Person_Name_52     196
Person_Name_9      190
Person_Name_5      180
Person_Name_63     148
Person_Name_51     110
Person_Name_39     104
Person_Name_33      92
Person_Name_14      83
Person_Name_61      79
Person_Name_17      71
Person_Name_44      58
Person_Name_41      51
Person_Name_58      15
Person_Name_26      12
Person_Name_11      10
Person_Name_29       8
Person_Name_25       7
Person_Name_36       7
Person_Name_23       4
Person_Name_34       3
Person_Name_47       3
Person_Name_35       2
Person_Name_20       1
Person_Name_10       1
Name: Account_Owner, dtype: int64
48

Opportunity_Owner
Person_Name_50    3845
Person_Name_8     1673
Person_Name_13    1415
Person_Name_18    1119
Person_Name_43     937
Person_Name_3      922
Person_Name_64     771
Person_Name_4      763
Person_Name_32     740
Person_Name_19     615
Person_Name_16     555
Person_Name_46     446
Person_Name_23     423
Person_Name_65     402
Person_Name_38     332
Person_Name_49     307
Person_Name_62     256
Person_Name_66     256
Person_Name_48     256
Person_Name_44     240
Person_Name_60     230
Person_Name_45     216
Person_Name_39     211
Person_Name_54     205
Person_Name_2      203
Person_Name_52     197
Person_Name_5      183
Person_Name_59     170
Person_Name_55     161
Person_Name_51     137
Person_Name_9      135
Person_Name_41     113
Person_Name_15     111
Person_Name_14     104
Person_Name_33      89
Person_Name_42      89
Person_Name_11      77
Person_Name_63      77
Person_Name_17      69
Person_Name_30      69
Person_Name_40      50
Person_Name_25      49
Person_Name_20      49
Person_Name_21      43
Person_Name_22      43
Person_Name_26      33
Person_Name_12      23
Person_Name_37      21
Person_Name_34      14
Person_Name_61      13
Person_Name_29      13
Person_Name_58       8
Person_Name_36       8
Person_Name_56       6
Person_Name_35       2
Person_Name_10       2
Person_Name_53       1
Person_Name_0        1
Name: Opportunity_Owner, dtype: int64
58

Account_Type
Account_Type_2    9989
Account_Type_0    6993
Account_Type_5    2200
Account_Type_1     167
None               113
Account_Type_4      19
Account_Type_6      17
Name: Account_Type, dtype: int64
7

Opportunity_Type
Opportunity_Type_1     7916
Opportunity_Type_7     6411
Opportunity_Type_19    2076
Opportunity_Type_8     1851
Opportunity_Type_3      341
Opportunity_Type_12     326
Opportunity_Type_20     194
Opportunity_Type_2       87
Opportunity_Type_4       63
Opportunity_Type_10      52
Opportunity_Type_9       47
Opportunity_Type_17      29
Opportunity_Type_14      23
Opportunity_Type_5       16
Opportunity_Type_18      11
Opportunity_Type_22      10
Opportunity_Type_15       9
Opportunity_Type_0        8
Opportunity_Type_21       7
Opportunity_Type_23       5
Opportunity_Type_11       5
Opportunity_Type_16       4
Opportunity_Type_13       4
Opportunity_Type_6        2
Opportunity_Type_24       1
Name: Opportunity_Type, dtype: int64
25

Quote_Type
Non Binding    19328
Binding          170
Name: Quote_Type, dtype: int64
2

Delivery_Terms
Delivery_Terms_4    8808
Delivery_Terms_2    5446
Delivery_Terms_1    3355
Delivery_Terms_6     928
Delivery_Terms_5     689
Delivery_Terms_8     172
Delivery_Terms_7      49
Delivery_Terms_3      42
Delivery_Terms_0       9
Name: Delivery_Terms, dtype: int64
9

Brand
None        18093
Other         877
Brand_9       153
Brand_5        65
Brand_10       48
Brand_24       43
Brand_11       42
Brand_13       29
Brand_25       26
Brand_22       24
Brand_7        19
Brand_21       17
Brand_23       11
Brand_20       10
Brand_27        9
Brand_17        5
Brand_0         4
Brand_4         4
Brand_2         4
Brand_12        4
Brand_16        2
Brand_26        2
Brand_19        2
Brand_6         1
Brand_3         1
Brand_8         1
Brand_1         1
Brand_18        1
Name: Brand, dtype: int64
28

Product_Type
None              18122
Other               673
Product_Type_1      255
Product_Type_3      204
Product_Type_0      122
Product_Type_4      107
Product_Type_2       15
Name: Product_Type, dtype: int64
7

Size
None      18157
Size_3      531
Other       478
Size_4      283
Size_1       30
Size_0       17
Size_2        2
Name: Size, dtype: int64
7

Product_Category_B
None                     18118
Other                      700
Product_Category_B_7        64
Product_Category_B_2        62
Product_Category_B_11       57
Product_Category_B_12       53
Product_Category_B_5        48
Product_Category_B_4        48
Product_Category_B_24       33
Product_Category_B_3        31
Product_Category_B_17       31
Product_Category_B_1        27
Product_Category_B_9        27
Product_Category_B_8        26
Product_Category_B_19       24
Product_Category_B_13       22
Product_Category_B_16       21
Product_Category_B_23       17
Product_Category_B_6        15
Product_Category_B_21       13
Product_Category_B_14       12
Product_Category_B_10       11
Product_Category_B_20       10
Product_Category_B_15        9
Product_Category_B_22        8
Product_Category_B_26        4
Product_Category_B_27        3
Product_Category_B_0         3
Product_Category_B_25        1
Name: Product_Category_B, dtype: int64
29

Currency
None    18252
USD       631
EUR       615
Name: Currency, dtype: int64
3

Last_Modified_By
Person_Name_47    8519
Person_Name_50    1272
Person_Name_13     760
Person_Name_8      743
Person_Name_43     617
                  ...
Person_Name_56       5
Person_Name_36       5
Person_Name_58       3
Person_Name_34       1
Person_Name_0        1
Name: Last_Modified_By, Length: 63, dtype: int64
63

Product_Family
Product_Family_133    1438
Product_Family_77     1345
Product_Family_132     894
Product_Family_212     710
Product_Family_100     630
                      ...
Product_Family_136       1
Product_Family_135       1
Product_Family_52        1
Product_Family_236       1
Product_Family_166       1
Name: Product_Family, Length: 247, dtype: int64
247

Product_Name
Product_Name_100    976
Product_Name_226    950
Product_Name_231    670
Product_Name_491    524
Product_Name_241    518
                   ...
Product_Name_320      1
Product_Name_179      1
Product_Name_309      1
Product_Name_302      1
Product_Name_330      1
Name: Product_Name, Length: 506, dtype: int64
506

ASP_Currency
USD    8908
EUR    5339
JPY    4690
AUD     556
GBP       5
Name: ASP_Currency, dtype: int64
5

ASP_(converted)_Currency
USD    19498
Name: ASP_(converted)_Currency, dtype: int64
1

Delivery_Quarter
Q2    5511
Q1    5144
Q3    4455
Q4    4388
Name: Delivery_Quarter, dtype: int64
4

Total_Taxable_Amount_Currency
USD    8891
EUR    5354
JPY    4696
AUD     553
GBP       4
Name: Total_Taxable_Amount_Currency, dtype: int64
5

Prod_Category_A
Prod_Category_A_None    19498
Name: Prod_Category_A, dtype: int64
1

Total_Amount_Currency
USD    8908
EUR    5339
JPY    4690
AUD     556
GBP       5
Name: Total_Amount_Currency, dtype: int64
5

## Analisis variables fechas

In [41]:
datetime_cols = ['Account_Created_Date', 'Opportunity_Created_Date',
             'Last_Activity','Quote_Expiry_Date', 'Last_Modified_Date',
             'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date',
             'Actual_Delivery_Date']

In [81]:
for d in [df,df_val,df_train]:
    for col in datetime_cols:
        d[col] = pd.to_datetime(d[col])

In [83]:
def none_values(df):
    f = lambda x: x.isnull()
    df_date = df[datetime_cols]
    total = df_date.apply(f).sum().sort_values(ascending=False)
    percent = (total/df_date.apply(f).count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    print(missing_data)
none_values(df_train)
none_values(df_val)
none_values(df)

                             Total   Percent
Actual_Delivery_Date         16947  1.000000
Last_Activity                16947  1.000000
Quote_Expiry_Date             4625  0.272910
Planned_Delivery_End_Date       75  0.004426
Planned_Delivery_Start_Date      0  0.000000
Last_Modified_Date               0  0.000000
Opportunity_Created_Date         0  0.000000
Account_Created_Date             0  0.000000
                             Total   Percent
Actual_Delivery_Date          2551  1.000000
Last_Activity                 2551  1.000000
Quote_Expiry_Date             1236  0.484516
Planned_Delivery_End_Date       51  0.019992
Planned_Delivery_Start_Date      0  0.000000
Last_Modified_Date               0  0.000000
Opportunity_Created_Date         0  0.000000
Account_Created_Date             0  0.000000
                             Total   Percent
Actual_Delivery_Date         19498  1.000000
Last_Activity                19498  1.000000
Quote_Expiry_Date             5861  0.300595
Planned_Delivery_End_Date      126  0.006462
Planned_Delivery_Start_Date      0  0.000000
Last_Modified_Date               0  0.000000
Opportunity_Created_Date         0  0.000000
Account_Created_Date             0  0.000000

In [86]:
# Quiero ver cual es la relacion entre Quote_Expiry_Date y la variable objectivo
# en 12mil de los casos de entrenamiento, cuando la fecha de vencimiento del presupuesto esta seteada, la oportunidad se gana
quote_not_set = df_train['Quote_Expiry_Date'].isnull()
print((quote_not_set != y.astype('bool')).sum())

# y siempre se mantiene igual para la misma oportunidad
print(quote_not_set.groupby(quote_not_set).apply(lambda x: len(set(x))!=1).sum())

12322
0

In [89]:
# Las unicas variables de fecha que varian para una misma son Planned_Delivery_Start_Date y Planned_Delivery_End_Date
d = pd.concat([df_train, df_val], axis=0).select_dtypes(include=['datetime'])
for col in d.columns:
    print(col)
    print(d.groupby(d.index)[col].apply(lambda x: len(set(x))>1).sum())

Account_Created_Date
0
Opportunity_Created_Date
0
Last_Activity
0
Quote_Expiry_Date
0
Last_Modified_Date
0
Planned_Delivery_Start_Date
969
Planned_Delivery_End_Date
1014
Actual_Delivery_Date
0

## Posibles target leackage
- Submitted_for_Approval: casi toda 0
- Delivery_Terms: nop
- Quote_Expiry_Date
- Actual_Delivery_Date: es puro NaT
- Total_Power: no esta en el dataset (tampoco la categorica correspondiente)

In [118]:
# los tipos de terminos no muestran un especial inclinacion haciia las oportunidades perdidas o ganadas
d = pd.concat([df_train, y], axis=1)
d.groupby('Delivery_Terms').agg({'Delivery_Terms':'count', 'Stage':'mean'}).sort_values('Stage', ascending=False)

                  Delivery_Terms     Stage
Delivery_Terms
Delivery_Terms_6             781  0.784891
Delivery_Terms_0               6  0.666667
Delivery_Terms_5             636  0.658805
Delivery_Terms_4            7712  0.582988
Delivery_Terms_7              38  0.552632
Delivery_Terms_2            4633  0.551479
Delivery_Terms_3              41  0.487805
Delivery_Terms_8             164  0.487805
Delivery_Terms_1            2936  0.451294

# Variable objetivo

In [ ]:
print('Posibles valores de la variable objetivo')
print(y.groupby(y).count())

In [ ]:
#prepare y
y.loc[y == 'Closed Won'] = 1
y.loc[y != 'Closed Won'] = 0
y.groupby(y).count()